*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic';
}

body{
	background-image: url("../images/Background-website-01.jpg");
	background-size: cover;
	backdrop-filter: blur(1px);
}

nav {
    width: 100%;
    height: 140px;
    background-color: cornsilk;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.cart{
    float:right;
    padding:10px;
}

.cart a{
    text-decoration:none;
    padding:5px 10px;
    color:black;
}

    .cart a:hover {
        background-color: #696969;
        color: white;
        border-radius: 25px;
    }

    nav ul {
        display: flex;
        justify-content: center;
        list-style-type: none;
    }
    nav ul li {
        
        margin-top:6%;
        
        
    }

nav ul li a{
    text-decoration:none;
    cursor:pointer;
    padding: 12px 24px;
    border: 1px solid transparent;
    color:black;
    
    transition: 0.2s ease;
}

nav ul li a:hover{
    background-color:#696969;
    color:white;
    border-radius:25px;
}

        nav ul li .active {
            background-color: #696969;
            color: white;
            border-radius: 25px;
        }

nav .sub_menu {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    margin-top: 15px;
    max-width: auto;
    z-index: 1;
    
    background-color: cornsilk;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 10px;
    display: list-item;
}

nav ul li:hover .sub_menu{
    opacity:1;
    visibility:visible;
}

nav .sub_menu li {
      margin:0;
      padding:14px 0px;
        
}

.logo img{
    float:left;
    width: 200px;
    height:auto;
    padding:28px 40px;
}


.search {
    position: absolute;
    
    left: 74%;
    
    padding: 6px;
    
}
    .search input {
        padding-left: 10px;
        border-radius: 20px 0px 0px 20px;
        width: 300px;
        height: 31px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }

    .search button {
        float: right;
        padding: 6px 10px;
        margin-top: auto;
        margin-right: 15px;
        background: #ddd;
        font-size: 17px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        cursor: pointer;
        border-radius: 0px 25px 25px 0px;
    }

.offers {
    height: 400px;
    width: auto;
    margin: 80px 70px 150px;
}

.offers-image {
    width: 100%;
    border-radius: 10px;

}


.slider {
    width: 1400px;
    height: 400px;
    border-radius: 10px;
    overflow: hidden;
    margin: 50px 70px;
}

.slides {
    width: 500%;
    height: 400px;
    display: flex;
}

    .slides input {
        display: none;
    }

.slide {
    width: 20%;
    transition: 2s;
}

    .slide img {
        width: 1400px;
        height: 400px;
    }

/*css for manual slide navigation*/

.navigation-manual {
    position: absolute;
    width: 1400px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #696969;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

    .manual-btn:not(:last-child) {
        margin-right: 40px;
    }

    .manual-btn:hover {
        background: #696969;
    }

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -20%;
}

#radio3:checked ~ .first {
    margin-left: -40%;
}

#radio4:checked ~ .first {
    margin-left: -60%;
}

/*css for automatic navigation*/

.navigation-auto {
    position: absolute;
    display: flex;
    width: 1400px;
    justify-content: center;
    margin-top: 360px;
}

    .navigation-auto div {
        border: 2px solid #696969;
        padding: 5px;
        border-radius: 10px;
        transition: 0.5s;
    }

        .navigation-auto div:not(:last-child) {
            margin-right: 40px;
        }

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background: #696969;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background: #696969;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
    background: #696969;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
    background: #696969;
}



footer {
    position: relative;
    width: 100%;
    box-shadow: 3px 11px 20px 20px rgb(0 0 0 / 40%);
    padding-bottom: 20px;
    background: #383838;
}

.footer-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 30px;
    box-sizing: border-box;
}

    .footer-content .logo-bottom {
        height: 160px;
        margin:40px;
    }

.footer-ul-container {
    width: 45%;
    display: flex;
    justify-content: space-between;
}

.category {
    width: 500px;
    
    margin-top:40px;
    list-style: none;
}


.link-heading {
    text-transform: capitalize;
    color: #fff;
    font-size: 20px;
    height: 20px;
    
}

.category li{
    margin-left:3px;
    margin-bottom:5px;
}

.category li a {
    text-decoration: none;
    
    color: rgba(255, 255, 255, 0.75);
    
    
}

.footer-link:hover {
    color: #fff;
}

.copyright{
    text-align:center;
    color:white;
    font-size:0.7rem;
}
/*furniture page*/
.directory {
    margin: 20px 50px;
}
.directory a {
    margin:5px;
    text-decoration:none;
    color:black;
}

    .directory a:hover{
        text-decoration:underline;
        cursor:pointer;
        color:gray;
    }

    .heading {
        margin-top: 30px;
        text-align: center;
        border-bottom: 2px solid red;
        padding-bottom: 10px;
    }
.card-container {
    margin: 50px 0;
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
}
.card{
    width:25%;
    border:solid 2px black;
    margin:40px ;
    border-radius:10px;
    background-color: white;
}

.card:hover{
    transform:translateY(-10px);
    box-shadow: 5px 5px 4px 0px;

}

    .card-image {
        padding: 5px;
    }
    .card-image img {
        width: 100%;
        height: 300px;
        border-radius: 10px 10px 0 0;
    }
.card-title{
    text-align:center;
    
    font-size:20px;
    margin-bottom:5px;
}
.card-title a{
    text-decoration:none;
    color:black;
}
.card-title a:hover{
    text-decoration:underline;
    color:gray;
}




/*Bedroom page*/

.bedroom-card-container {
    margin: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.bedroom-card{
    width:20%;
    border: solid 1px black;
    padding:10px;
    margin:20px;
    border-radius:10px;
	background-color: white;
}

.bedroom-card:hover {
    transform: translateY(-10px);
    box-shadow: 5px 5px 4px 0px;
}



.bedroom-card-image img{
    width:100%;
    height:250px;
    border-radius:10px 10px 0 0;
}

.bedroom-card-title{
    margin:5px 0;
    height:35.2px;
}

.bedroom-card-title a {
    
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.bedroom-card-title a:hover {
    text-decoration: underline;
    
    color: gray;
}

.bedroom-card-price{
    float:right;
    font-weight:900;
    font-size:1.2rem;
    
}

.bedroom-card-price span{
    font-size:0.8rem;
    color:rgb(0 0 0 / 60%);
}

.radio-container {
    margin-top: 40px;
    display: flex;
    justify-content: flex-start;
}

.radio-container input{
    margin-left:20px;
    cursor:pointer;
}

.add-to-cart{
    text-align:center;
    margin-top:10px;
}

.add-to-cart button{
    text-decoration:none;
    border:2px solid black;
    padding:5px;
    border-radius:10px;
    font-size: 0.8rem;
    cursor:pointer;
}

    .add-to-cart button:hover{
        background-color:black;
		color:white;
    }

/*Contact page*/

.contact-box{
    margin:10px;
    width:35%;
    border:2px solid black;
    text-align:center;
    margin-left:490px;
    line-height:30px;
    padding:10px;
    
}

.contact-container {
    padding:30px;
}


/*About us page*/

.face-container{
    display:flex;
    justify-content:space-evenly;
}

.face-box{
    width:150px;


}

.face-box img {
    width:100%;
    border-radius:20px;
}

.name{
    font-size:1.2rem;
}